/*var*/
:root {
--card-bg: #7A7F7F

--border-radius: 1rem;
--border-radius-small: 0.5rem;


}

/* card */


.card {
    margin-bottom: 3rem;
    padding: 1.25rem 0 2.75rem;
    position: relative;
}

.card-background {
    background-color: var(--card-bg);
    border-radius: var(--border-radius);
    position: absolute;
    width: calc(100% + 10vw);
    height: 100%;
    margin-left: -5vw;
    margin-right: -5vw;
    inset: 0;
}

.card-content {
    position: relative;
}